/* @import url("https://fonts.googleapis.com/css?family=Raleway:400, 700"); */

.fig-element {
    font-family: "Oswald", sans-serif !important;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 230px;
    width: 100%;
    color: #000000;
    text-align: left;
    font-size: 16px;
    -webkit-box-shadow: 7px 11px 19px -8px rgba(0, 0, 0, 0.39);
    box-shadow: 7px 11px 19px -8px rgba(0, 0, 0, 0.39);
    background: #53cbf1; /* Old browsers */
    background: -moz-linear-gradient(
        -45deg,
        #53cbf1 4%,
        #007bff 27%,
        #ff471f 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        -45deg,
        #53cbf1 4%,
        #007bff 27%,
        #ff471f 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        135deg,
        #53cbf1 4%,
        #007bff 27%,
        #ff471f 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53cbf1', endColorstr='#ff471f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.fig-element *,
.fig-element:before,
.fig-element:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.fig-element img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    width: 100%;
}
.fig-element:before,
.fig-element:after {
    content: "";
    background-color: #000;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.fig-element:before {
    width: 300px;
    height: 2px;
}
.fig-element:after {
    height: 300px;
    width: 2px;
}
.fig-element figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
}
.fig-element h3 {
    font-size: 15px;
    padding: 8px 15px;
    margin: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    color: #fff;
    font-weight: 600;
}
.fig-element a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.fig-element:hover img,
.fig-element.hover img {
    zoom: 1;
    filter: alpha(opacity=25);
    -webkit-opacity: 0.25;
    opacity: 0.25;
}
.fig-element:hover:before,
.fig-element.hover:before,
.fig-element:hover:after,
.fig-element.hover:after {
    opacity: 1;
}
.fig-element:hover:before,
.fig-element.hover:before {
    width: 50px;
    background-color: #fff;
}
.fig-element:hover:after,
.fig-element.hover:after {
    height: 50px;
    background-color: #fff;
}
.fig-element:hover h3,
.fig-element.hover h3 {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .fig-element {
        min-width: 120px;
        max-width: 130px;
    }
    .fig-element h3 {
        font-size: 8px;
        padding: 8px 5px;
    }
}
