@import url("https://fonts.googleapis.com/css?family=Oswald:400,600");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

body {
    font-family: "Oswald", sans-serif !important;
}

.container {
    text-align: center;
}

.alert {
    font-family: "Roboto Condensed", sans-serif;
    animation: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.75) 0s 1 errorBezier;
}

/* #id-error {
    left: -625px;
} */

.top-banner {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    min-height: 200px;
    background: #24292e;
    animation: 1s cubic-bezier(0.68, -0.55, 0.265, 1.75) 0s 1 cubicBez;
}

.top-banner,
.alert,
.card,
#lab_social_icon_footer {
    -webkit-transition: all 1000ms cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.75);
    -moz-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.75);
    -o-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.75);
    transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.75);
    -webkit-transition-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.75);
    -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.75);
    -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.75);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.75);
}

@keyframes errorBezier {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes cubicBez {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

#logo {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    font-size: 40px;
    max-width: 300px;
    margin: 0 auto;
}
#logo:hover {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transform: scale(0.8);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
}
#logo a {
    color: #fff;
    text-decoration: none;
}

#logo #shimmer {
    width: 50px;
    border-radius: 25px;
    background: linear-gradient(135deg, #e84d31 0%, #05abe0 100%);
    background-size: 100%;
    padding: 5px;
    position: relative;
    bottom: 4px;
}

.org-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#org-avatar-group {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    display: inline-block;
    margin-bottom: 8px;
    padding: 0 2px 0 2px;
}

#org-avatar {
    border-radius: 3px;
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

#list {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.follower,
.top-banner h1,
.top-banner div {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.top-banner .input-group {
    margin: auto;
    min-width: 200px;
    max-width: 600px;
    padding: 0 10px 0 10px;
    font-family: "Roboto Condensed", sans-serif;
}
.list-group-item {
    transition: all 0.3s ease-in-out;
}
.list-group-item:hover {
    border: 1px solid orangered;
}
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    color: #333;
    font-family: "Ubuntu", sans-serif;
    position: relative;
}
.card {
    margin: auto;
    max-width: 75%;
    -webkit-box-shadow: 7px 11px 19px -8px rgba(0, 0, 0, 0.39);
    box-shadow: 7px 11px 19px -8px rgba(0, 0, 0, 0.39);
    animation: 1s cubic-bezier(0.68, -0.55, 0.265, 1.75) 0s 1 cubicBez;
}
.card-body {
    text-align: left;
    letter-spacing: 0.5px;
    font-family: "Roboto Condensed", sans-serif;
}
.display-3 {
    border-radius: 5px;
    font-size: 2.5rem !important;
    color: #fff;
    background: #24292e;
}

#lab_social_icon_footer {
    padding: 40px 0;
    display: none;
    background-color: #24292e;
    animation: 1s cubic-bezier(0.68, -0.55, 0.265, 1.75) 0s 1 cubicBez;
}

#lab_social_icon_footer.visible {
    display: block;
}
#lab_social_icon_footer a {
    color: #fff;
    padding: 0 2px;
}

.fab.fa-linkedin-in.fa-3x.social:hover {
    color: #0077b5;
}

.fas.fa-envelope-square.fa-3x.social:hover {
    color: #dd5347;
}

.fas.fa-phone-square.fa-3x.social:hover {
    color: mediumseagreen;
}

#lab_social_icon_footer .social,
#org-avatar-group {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
#lab_social_icon_footer .social:hover,
#org-avatar-group:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.footer-text {
    color: #fff;
    font-size: 13px;
    font-family: "Roboto Condensed", sans-serif;
}
.footer-text a {
    text-decoration: none;
    transition: all 0.3s ease;
}
.footer-text a:hover {
    transition: all 0.3s ease;
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .top-banner h1 {
        font-size: 30px;
    }
    .snip1572 {
        min-width: 120px;
        max-width: 130px;
    }
    .snip1572 h3 {
        font-size: 8px;
        padding: 8px 5px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1600px) {
    .card {
        max-width: 50%;
    }
}
